services:
  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
      - mongo_config:/data/configdb

  server:
    build:
      context: ./server
    environment:
      PORT: "3001"
      NODE_ENV: development
      MONGO_URI: mongodb://mongo:27017/benaay_test
      CORS_ORIGIN: http://localhost:5173
      ACCESS_TOKEN_SECRET: change_me_access
      REFRESH_TOKEN_SECRET: change_me_refresh
      ACCESS_TOKEN_EXPIRES: 15m
      REFRESH_TOKEN_EXPIRES: 30d
      REFRESH_COOKIE_NAME: refreshToken
      REFRESH_COOKIE_SECURE: "false"
      REFRESH_COOKIE_SAMESITE: lax
      DEV_REFRESH_IN_BODY: "true"
    ports:
      - "3001:3001"
    depends_on:
      - mongo

  client:
    build:
      context: ./client
    environment:
      VITE_API_URL: http://localhost:3001
    ports:
      - "5173:5173"
    depends_on:
      - server

volumes:
  mongo_data:
  mongo_config: