.feature-card {
  width: 411px;
  height: 180px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  box-sizing: border-box;
}

.feature-card__icon {
  width: 72px;
  height: 72px;
  border-radius: 12px;
  background-color: #fbf2ef;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
}

.feature-card__icon-image {
  height: 32px;
  width: auto;
  object-fit: contain;
  display: block;
  flex: 0 0 auto;
}

.feature-card__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.feature-card__title {
  margin: 0;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  color: #181d27;
}

.feature-card__text {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #535862;
}

@media (max-width: 767px) {
  .feature-card {
    width: 100%;
    height: auto;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    border-radius: 4px;
  }

  .feature-card__icon {
    width: 88px;
    height: 88px;
    flex-direction: column;
  }

  .feature-card__content {
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    padding: 4px 0;
    flex: 1 0 0;
  }

  .feature-card__title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #030712;
  }

  .feature-card__text {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #4b5563;
  }
}
